body{
	background-color: #232323;
	margin: 0;
	font-family: 'IBM Plex Serif', serif;;
}


.square{
	width: 30%;
	background-color: red;
	padding-bottom: 30%;
	float: left;
	margin : 1.66%;
	transition: background 0.6s;
	border-radius: 50%;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	color: white;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
	padding: 20px 0px;
	letter-spacing: 1px;
	background-color: steelblue;
}

#straight{
	background-color: white;
	height: 30px;
	text-align: center;
	margin: 0;
	letter-spacing: 1px;
}

button{
	background: none;
	border: none;
	height: 100%;
	text-transform: uppercase;
	color: steelblue;
	font-weight: 600;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

#message{
	padding: 0px 70px;
	font-weight: 600;
	text-transform: uppercase;
}

button:hover{
	color: white;
	background: steelblue;
}

.selected{
	background: steelblue;
	color: white;
}